<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商城系统后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font-awesome icons CSS -->
    <link href="/css/font-awesome.css" rel='stylesheet' type='text/css'>
    <!-- side nav css file -->
    <link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <!-- js-->
    <script type='text/javascript' src="/js/jquery-1.11.1.min.js"></script>
    <script type='text/javascript' src="/js/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!-- chart -->
    <script type='text/javascript' src="/js/Chart.js"></script>
    <!-- Metis Menu -->
    <script type='text/javascript' src="/js/metisMenu.min.js"></script>
    <script type='text/javascript' src="/js/custom.js"></script>
    <link href="/css/custom.css" rel='stylesheet' type='text/css'>
    <!--pie-chart -->
    <script type='text/javascript' src="/js/pie-chart.js"></script>
    <!-- requried-jsfiles-for owl -->
    <link href="/css/owl.carousel.css" rel='stylesheet' type='text/css'>
    <script type='text/javascript' src="/js/owl.carousel.js"></script>
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <div th:include="/public/menu::frame_menu"></div>

        <div th:include="/public/head::frame_top_menu"></div>

        <div th:include="/public/index::frame_default_index"></div>

        <div th:include="/public/footer::frame_footer"></div>
    </div>

    <!-- new added graphs chart js-->
    <script type='text/javascript' src="/js/Chart.bundle.js"></script>
    <script type='text/javascript' src="/js/utils.js"></script>
    <!-- Classie -->
    <script type='text/javascript' src="/js/classie.js"></script>
    <!--scrolling js-->
    <script type='text/javascript' src="/js/jquery.nicescroll.js"></script>
    <script type='text/javascript' src="/js/scripts.js"></script>
    <!-- side nav js -->
    <script type='text/javascript' src='/js/SidebarNav.min.js'></script>
    <!-- for index page weekly sales java script -->
    <script type='text/javascript' src="/js/SimpleChart.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type='text/javascript' src="/js/bootstrap.js"></script>
    <!-- bootstrap-treeview -->
    <link href="/js/bootstrap-treeview/bootstrap-treeview.css" rel='stylesheet' type='text/css'>
    <script type='text/javascript' src="/js/bootstrap-treeview/bootstrap-treeview.js"></script>
    <script type="text/javascript">
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }

        $(document).ready(function () {
            var graphdata1 = {
                linecolor: "#CCA300",
                title: "Monday",
                values: [
                    {X: "6:00", Y: 10.00},
                    {X: "9:00", Y: 34.00},
                    {X: "10:00", Y: 40.25},
                    {X: "11:00", Y: 28.56},
                    {X: "12:00", Y: 18.57},
                    {X: "13:00", Y: 34.00},
                    {X: "14:00", Y: 40.89},
                    {X: "15:00", Y: 12.57},
                    {X: "16:00", Y: 28.24}
                ]
            };
            var graphdata2 = {
                linecolor: "#00CC66",
                title: "Tuesday",
                values: [
                    {X: "6:00", Y: 100.00},
                    {X: "7:00", Y: 120.00},
                    {X: "8:00", Y: 140.00},
                    {X: "9:00", Y: 134.00},
                    {X: "23:00", Y: 134.89},
                    {X: "0:00", Y: 140.26},
                    {X: "1:00", Y: 128.89},
                    {X: "2:00", Y: 118.87},
                    {X: "3:00", Y: 134.00},
                    {X: "4:00", Y: 180.00}
                ]
            };
            var graphdata3 = {
                linecolor: "#FF99CC",
                title: "Wednesday",
                values: [
                    {X: "6:00", Y: 230.00},
                    {X: "7:00", Y: 210.00},
                    {X: "8:00", Y: 214.00},
                    {X: "22:00", Y: 258.00},
                    {X: "23:00", Y: 234.89},
                    {X: "1:00", Y: 248.89},
                    {X: "2:00", Y: 238.87},
                    {X: "3:00", Y: 264.00},
                    {X: "4:00", Y: 270.00}
                ]
            };
            var graphdata4 = {
                linecolor: "Random",
                title: "Thursday",
                values: [
                    {X: "6:00", Y: 300.00},
                    {X: "7:00", Y: 410.98},
                    {X: "8:00", Y: 310.00},
                    {X: "9:00", Y: 314.00},
                    {X: "10:00", Y: 310.25},
                    {X: "4:00", Y: 310.00}
                ]
            };

            //图表
            $("#Linegraph").SimpleChart({
                ChartType: "Line",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: false,
                data: [graphdata4, graphdata3, graphdata2, graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Weekly Profit',
                yaxislabel: 'Profit in $'
            });

            $('.sidebar-menu').SidebarNav();

            //菜单点击加载页面
            $(".sidebar-menu a").click(function (event) {
                //preventDefault() 方法将防止上面的链接打开 URL。
                event.preventDefault();

                var path = $(this).attr("href");
                if (path != "#" && path != "/" && path != "" && path != "javascript:void(0)" && path != "javascript:void(0);") {
                    $.get(path, function (result) {
                        $("#page-wrapper").html(result);
                    });
                }
            });
        });
    </script>
</body>
</html>