<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="public-css">
    <link type="text/css" rel="stylesheet" href="/css/wap/base.css"/>
    <link type="text/css" rel="stylesheet" href="/css/wap/web_frame.css"/>
    <link type="text/css" rel="stylesheet" href="/css/wap/change_module.css"/>
    <link type="text/css" rel="stylesheet" href="/css/webskin.css"/>
    <link type="text/css" rel="stylesheet" href="/css/wap_wu.css"/>
    <link type="text/css" rel="stylesheet" href="/css/list_link.css"/>
    <link type="text/css" rel="stylesheet" href="/css/list_content.css"/>

    <!-- 图标文字 -->
    <link rel="stylesheet" href="/css/tubiao/gwcFont.css">
    <link rel="stylesheet" href="/css/tubiao/indexFont.css">
    <link rel="stylesheet" href="/css/tubiao/qqFont.css">
    <link rel="stylesheet" href="/css/tubiao/helpFont.css">
    <link rel="stylesheet" href="/css/tubiao/telFont.css">
    <link rel="stylesheet" href="/css/tubiao/shopsFont.css">
    <link rel="stylesheet" href="/css/tubiao/classifyFont.css">
    <link rel="stylesheet" href="/css/tubiao/fxFont.css">
    <link rel="stylesheet" href="/css/tubiao/hbqFont.css">
    <link rel="stylesheet" href="/css/tubiao/memberFont.css">
    <link rel="stylesheet" href="/css/tubiao/hykFont.css">
    <link rel="stylesheet" href="/css/tubiao/kfFont.css">
    <link rel="stylesheet" href="/css/tubiao/lyFont.css">
    <link rel="stylesheet" href="/css/tubiao/forumFont.css">
    <link rel="stylesheet" href="/css/tubiao/freeFont.css">
    <link rel="stylesheet" href="/css/tubiao/tryoutFont.css">
    <link rel="stylesheet" href="/css/tubiao/tgFont.css">
    <link rel="stylesheet" href="/css/tubiao/positionFont.css">
    <link rel="stylesheet" href="/css/tubiao/wdFont.css">
    <link rel="stylesheet" href="/css/tubiao/xsgFont.css">
    <link rel="stylesheet" href="/css/tubiao/yyFont.css">

</head>
</html>