<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="public-js">
    <script language="JavaScript" src="/js/plug-in/jquery-1.11.3/jquery.js"></script>

    <!-- swiper-4.5.0 -->
    <link type="text/css" rel="stylesheet" href="/js/plug-in/swiper-4.5.0/css/swiper.min.css"/>
    <script language="JavaScript" src="/js/plug-in/swiper-4.5.0/js/swiper.min.js"></script>

    <!-- Vue -->
    <script type="text/javascript" src="/js/plug-in/vue-2.6.10/vue.js"></script>

    <script type="text/javascript" src="/js/wap/nav.js"></script>
    <script type="text/javascript" src="/js/wap/public.js"></script>

    <!-- weui -->
    <link type="text/css" rel="stylesheet" href="/js/plug-in/weui/css/weui.css"/>
    <link type="text/css" rel="stylesheet" href="/js/plug-in/weui/css/weuix.css"/>
    <script language="JavaScript" src="/js/plug-in/weui/js/zepto.min.js"></script>
    <script language="JavaScript" src="/js/plug-in/weui/js/zepto.weui.js"></script>

    <!-- 选项卡 -->
    <script type="text/javascript" src="/js/tab.js"></script>
</div>
</html>